footer{
    display: flex;
    gap: 117px;
    padding: 230px 130px;
    background: #FFF8F3;
}
.footer-com{
    width: 50%;
}
.Contact input[type="text"], .Contact input[type="Email"], textarea{
    display: block;
    margin-bottom:  26px;
    padding: 18px 35px;
    border: none;
    color: #757575;
    border-radius: 5px;
    background:  #FFF;
    width: 100%;

}

.soc{
    margin-right: 20px;
}