header{
    background: #FFF8F3;
}
.banner{
    padding: 30px 30px 30px 150px;
    display: flex;
    align-items: center;

}
.profile-pic{
    width: 584px;
    height: 676px;
    flex-shrink: 0;
}


